<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/_layout}">
    <head>
        <title>MBKM - Location Page</title>
        <!--<th:block th:include="layout/_layout :: _head"></th:block>-->
    </head>
    <body>
        <div class="col content" layout:fragment="content">
            <a th:href="@{/location/add}">
                <input type="submit" value="Add New" class="btn btn-success mb-2">
            </a>
        <table id="table-data" border="0" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">City</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">State Province</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">Country Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="location : ${locations}">
                    <td th:text="${location.id}"></td>
                    <td th:text="${location.city}"></td>
                    <td th:text="${location.postalCode}"></td>
                    <td th:text="${location.province}"></td>
                    <td th:text="${location.street}"></td>
                    <td th:text="${location.country.name}"></td>
                    <td>
                        <!--Update Button-->
                        <button class="btn btn-primary">
                            <a class="text-white" th:href="@{/location/edit/{id} (id = ${location.id})}">
                                Edit
                            </a>
                        </button>
                        
                        <!--Delete Button-->
                        <form 
                              th:action="@{/location/{id} (id = ${location.id})}" 
                              th:method="DELETE"
                        >
                            <button class="btn btn-danger" id="submitForm" th:onclick="deleteAction()">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">City</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">State Province</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">Country Name</th>
                    <th scope="col">Action</th>
                </tr>
            </tfoot>
        </table>
        </div>
        <th:block layout:fragment="scripts">
            <script th:src="@{/js/dataTables.js}"></script>
        </th:block>
    </body>
</html>
