<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/_layout}">
    <head>
        <title>MBKM - Department Page</title>
        <!--<th:block th:include="layout/_layout :: _head"></th:block>-->
    </head>
    <body>
        <div class="col content" layout:fragment="content">
            <a th:href="@{/department/add}">
                <input type="submit" value="Add New" class="btn btn-success mb-2">
            </a>
        <table id="table-data" border="0" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Location City</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="department : ${departments}">
                    <td th:text="${department.id}"></td>
                    <td th:text="${department.name}"></td>
                    <td th:text="${department.manager.firstName}"></td>
                    <td th:text="${department.location.city}"></td>
                    <td>
                        <!--Update Button-->
                        <button class="btn btn-primary">
                            <a class="text-white" th:href="@{/department/edit/{id} (id = ${department.id})}">
                                Edit
                            </a>
                        </button>
                        
                        <!--Delete Button-->
                        <form 
                              th:action="@{/department/{id} (id = ${department.id})}" 
                              th:method="DELETE"
                        >
                            <button class="btn btn-danger" id="submitForm" th:onclick="deleteAction()">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Location City</th>
                    <th scope="col">Action</th>
                </tr>
            </tfoot>
        </table>
        </div>
        <th:block layout:fragment="scripts">
        <script th:src="@{/js/dataTables.js}"></script>
    </th:block>
    </body>
</html>
